.containerCard {
    display: flex;
    margin: auto;
    background-color: white;
    position: absolute;
    width: 60vw;
    height: 18vh;
    top: 30%;
    left: 20%;
    border-radius: 10px;
    --webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.13);
}

.containerCard table {
    width: 100vw;
    padding: 5vh;
    padding-top: 2vh;
}